<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.phonegap.profile" 
    versionCode = "10"
    version     = "1.0.0" >
 
  <!-- versionCode is optional and Android only -->
 
  <name>Profile App</name>
 
  <description>
      Ini merupakan contoh aplikasi
  </description>
 
  <author href="https://twitter.com/amahayati12" email="[email protected]">
      Ardhia Rahmahayati
  </author>
 
</widget>
